[mariadb]
plugin_load_add=server_audit

server_audit_logging=ON
server_audit_events=CONNECT,QUERY
server_audit_output_type=FILE
server_audit_file_path=/var/log/mariadb/audit.log

server_audit_file_rotate_size=1000000
server_audit_file_rotations=9
